{% extends "admin/matches/match/base.html" %}
{% load helpers %}

{% block bc_inner %}
{{ block.super }}
&rsaquo; <a href="{% url admin:matches_match_change match.id %}">{{ match }}</a>
&rsaquo; Play
{% endblock bc_inner %}


{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% media_url %}css/gamesoup/general.css" type="text/css" media="screen" title="no title" charset="utf-8" />
<link rel="stylesheet" href="{% media_url %}css/gamesoup/play.css" type="text/css" media="screen" title="no title" charset="utf-8" />
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/lib/prototype.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/lib/effects.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/lib/dragdrop.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/gamesoup.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/utils.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/urls.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/tracer.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/dialogs.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/library/types.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/library/mixins.js"></script>
<script type="text/javascript" charset="utf-8" src="{% media_url %}js/gamesoup/matches/engine.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ game.code_url }}"></script>
{% endblock extrahead %}


{% block content %}
<div id="gamesoup-game-engine"></div>
{% endblock content %}