body {background: #e8e8e8;}
.object-tools {background: white; padding: 5px; border: solid 1px #ccc; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
#assembler .tab {height: 581px; margin-top: 30px;}
#assembler #canvas.tab {left: 230px;}
#assembler #canvas.tab h1.handle {left: 20px;}
#assembler #flow.tab {left: 230px;}
#assembler #flow.tab h1.handle {left: 220px;}

/* Object List */
#object-list table {width: 100%;}
#object-list tbody th, #object-list td {padding: 5px 5px;}
#type {width: 178px;}
.type input {font-weight: normal; color: #333; width: 100%; text-align: left;}
.visible .type input {font-weight: bold;}
.stateful .type input {font-style: italic;}
.unsatisfied .type input {color: red;}
.unsatisfiable .type input {background: red; color: white;}
.unsatisfiable .type input:active {background: #ff4040;}
#satisfied, #satisfiable {width: 50px;}
.satisfied, .satisfiable {text-align: center;}
#ownership {width: 50px;}
.ownership.stateful {cursor: pointer;}
#object-list .row1 {background: #e8e8e8;}
#object-list .row2 {background: #fff;}
#object-list .row1.highlight, #object-list .row2.highlight {background: #9cf;}
#object-list .highlight .type input {background: #9cf;}
.parameters .bound {font-weight: normal; color: #999;}
.parameters .bound.reference {cursor: pointer;}
.parameters .bound .note {color: #66f;}
.parameters .unbound {font-weight: bold; color: red;}
#delete-link {width: 20px;}
.delete-link {font-size: 14pt; color: #999; cursor: pointer;}

/* Canvas */
#canvas .content {background-repeat: repeat}
.object-shaper {background: #999; border: dashed 1px #036; color: black; font-size: 9pt; opacity: 0.75; cursor: move; z-index: 5; overflow: hidden;}
.object-shaper .title {font-size: 12pt; margin: 5px; cursor: help;}
.object-shaper p {margin: 5px;}
.object-shaper .resize {position: absolute;	width: 18px; height: 18px; background: #333; bottom: 0px; right: 0px; z-index: 11; cursor: se-resize;}
.object-shaper.game-owned {background: #9cf;}
.object-shaper.game-owned .resize {background: #036;}
.object-shaper.player-owned {background: #69c;}
.object-shaper.player-owned .resize {background: #036;}
#canvas .object-shaper.highlight {background-color: yellow; color: #993; border-color: #993;}
#canvas .object-shaper.highlight .resize {background-color: #993;}

/* Message Box */
#message-box {
	position: absolute;
	top: 95px;
	width: 95%;
	z-index: 101;
	font-size: 18pt;
	text-align: center;
	font-weight: bold;
	color: #69c;
	text-shadow: #333 1px 1px;
}

/* Curtain */
#curtain {position: fixed; z-index: 100; background: black; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.80;}
#scratch {position: fixed; z-index: 100; left: 0; right: 0; top: 0; bottom: 0;}
#dialog .curtain {position: absolute; z-index: 100; background: black; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.80; -moz-border-radius: 10px;}

/* Dialog */
#dialog {
	position: fixed;
	top: 150px;
	left: 200px;
	width: 600px;
	overflow: auto;
	z-index: 1000;
	background-color: white;
	background-repeat: repeat-x;
	background-position: bottom;
	border: solid 1px #666;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#dialog h1 {
	border-bottom: solid 1px #666;
	padding: 5px;
	text-align: center;
	margin-bottom: 1em;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	background-color: #333;
	color: white;
}
#dialog p, #dialog fieldset, #dialog h2, #dialog .submit-row {
	margin: 10px 20px;
}
#dialog .close-button {
	position: absolute;
	top: 0px;
	right: 7px;
	cursor: pointer;
	font-size: 18pt;
	color: white;
}
#dialog label {width: 200px;}

.unsatisfiable label {color: red;}
.bound-to-disclosure {margin: 0 20px; font-size: 12pt;}
input[type=button].selected {background: #69c; color: white;}