#header {background-color: #666;}

.outer-container {position: absolute;}
.inner-container {position: relative; height: 100%; width: 100%;}
.note {font-weight: normal; font-style: italic; color: #666;}

.black {color: black;}
.blue {color: blue;}
.red {color: red;}
.green {color: green;}
.bright {color: #9f9; font-weight: normal;}
