.tabset {
	position: relative;
	padding-top: 30px;
/*	background: black;*/
}
.tab {
	position: absolute;
	border: solid 1px #999;
	right: 0;
	background: white;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.tab h1.handle {
	position: absolute;
	left: 20px;
	top: -27px;
	height: 25px;
	font-size: 12pt;
	font-weight: normal;
	background: white;
	border: solid 1px #999;
	border-bottom-color: white;
	padding: 0 1em;
	cursor: pointer;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}
.tab0 {left: 0px; z-index: 10;}
.tab1 {left: 200px; z-index: 9;}
.tab2 {left: 400px; z-index: 8;}
.tab0, .tab0 h1.handle {background: #bcd;}
.tab0 h1.handle {border-bottom-color: #bcd;}
.tab1, .tab1 h1.handle {background: #ace;}
.tab1 h1.handle {border-bottom-color: #ace;}
.tab2, .tab2 h1.handle {background: #9cf;}
.tab2 h1.handle {border-bottom-color: #9cf;}
.tab .content {background: white; width: 100%; height: 100%; overflow: auto;}