{% extends "admin/change_form_custom.html" %}
{% load games %}


{% block extrastyle %}
{{ block.super }}
<style type="text/css">
.inline-group textarea {width: 200px; height: 1.5em;}
</style>
{% endblock extrastyle %}


{% block extra-object-tools %}
    {% get_object for object_id as obj %}
    <li><a href="{% url admin:library_type_change obj.type.id %}">Type: {{ obj.type }}</a></li>
    <li><a href="{% url admin:games_game_change obj.game.id %}">Game: {{ obj.game }}</a></li>
{% endblock extra-object-tools %}


{% block after_field_sets %}
{% get_object for object_id as obj %}
{% if obj %}
    {% with obj.bindings.all as bindings %}
    {% if bindings %}
    <table class="module" style="width: 100%">
        <caption>Bindings</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Kind</th>
                <th>Bound to</th>
                <th>Expression</th>
            </tr>
        </thead>
        <tbody>
            {% for binding in bindings %}
            <tr>
                <td><a href="{% url admin:library_type_change obj.type.id %}">{{ binding.parameter.name }}</a></td>
                <td>{{ binding.get_kind }}</td>
                <td>{{ binding.get_argument_link|safe }}</td>
                <td>{{ binding.parameter.expr.render_with_links|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endwith %}
{% endif %}
{% endblock after_field_sets %}
