{% load tracer %}
<div class="method-call {{ method_call.css_classes }}">
  <div class="header">
    {% render_object method_call.obj %}.<span class="method">{{ method_call.method }}</span>(<span class="args">{% render_args method_call %}</span>)
    {% render_traceback method_call %}
  </div>
  <div class="frame">
    {% for traced_obj in method_call %}
    {% render_traced_object traced_obj %}
    {% endfor %}    
  </div>
  <div class="result">{% render_object method_call.result %} <span class="note">&larr; {{ method_call.klass }}.{{ method_call.method }}</span></div>
</div>
