<div class="module">
    <table>
        <thead>
            <tr>
                <th id="type">Type</th>
                <th id="satisfied" title="Have all the parameters been set?">Satisfied</th>
                <th id="satisfiable" title="Is it possible to set all the parameters given the objects already in the game?">Satisfiable</th>
                <th id="ownership" title="Is it common to all players, or do each get their own copy?">Ownership</th>
                <th id="parameters" title="Parameters in red still need to be set.">Parameters</th>
                <th id="delete-link">&nbsp;</th>
            </tr>
        </thead>
        {% if objects %}
        {% for obj in objects %}
        <tr id="object-{{ obj.id }}" class="object {% cycle row1,row2 %} {{ obj.satisfied|yesno:",unsatisfied" }} {{ obj.is_satisfiable|yesno:",unsatisfiable" }}" objectID="{{ obj.id }}">
            <td class="type"><input type="button" value="{{ obj.type.name }}" /></td>
            <td class="satisfied"><img alt="True" src="/django-admin-media/img/admin/icon-{{ obj.satisfied|yesno:"yes,no" }}.gif"></td>
            <td class="satisfiable"><img alt="True" src="/django-admin-media/img/admin/icon-{{ obj.is_satisfiable|yesno:"yes,no" }}.gif"></td>
            <td class="ownership">{{ obj.per_player|yesno:"player,game" }}</td>
            <td class="parameters">
                {% for param in obj.type.parameters.all %}
                <span class="{{ param.bindings.count|yesno:"bound,unbound" }}">{{ param.name }}</span> {{ forloop.last|yesno:",-"}}
                {% endfor %}
            </td>
            <td class="delete-link" title="Remove this object">x</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td class="note">There are no objects in this game. Click the <strong>&ldquo;Browse&nbsp;+&rdquo;</strong> link in the upper right to add your first object.</td></tr>
        {% endif %}
    </table>    
</div>
