{% extends "admin/expressions/base.html" %}
{% load helpers %}

{% block bc_inner %}
{{ block.super }}
&rsaquo; {{ title }}
{% endblock bc_inner %}

{% block content %}
<div class="module aligned">
    <h2>Enter your expression below to see the graph.</h2>
    <form action="." method="post">
        <table style="width: 100%">
            {{ form }}
            <tr><td>&nbsp;</td><td><input class="default" type="submit" name="_save" value="Render" /></td></tr>
        </table>
    </form>    
</div>
<div class="module">
    <h2>Last expression</h2>
    <p>{{ last_rendering }}</p>
    <img id="rendered" src="{% media_url %}graphs-scratch/rendered-expressions/{{ type }}.{{ format }}?{{ time }}" />
</div>
{% endblock content %}
