{% spaceless %}
<span class="object-container hash-{{ hash }}" hash="{{ hash }}">
  <span class="handle" title="{{ repr }}">{{ className }}<span class="hash" title="{{ hash }}">({{ shortHash }})</span></span>
  <div class="details hash-{{ hash }}" style="display: none">
    <div class="inner-container">
      <div class="hash-title">{{ shortHash }}</div>
      <div class="close-button">x</div>
      <table>
        <tr>
          <th>Class</th>
          <td>{{ fullClassName }}</td>
        </tr>
        <tr>
          <th>str</th>
          <td>{{ str }}</td>
        </tr>
        <tr>
          <th>unicode</th>
          <td>{{ unicode }}</td>
        </tr>
        <tr>
          <th>repr</th>
          <td>{{ repr }}</td>
        </tr>
        {% for key, value in values %}
        <tr>
          <th>{{ key }}</th>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</span>
{% endspaceless %}