{% load helpers tracer %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Tracer results</title>
    <link rel="stylesheet" href="{% media_url %}css/tracer.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    <script type="text/javascript" src="{% media_url %}js/lib/prototype.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% media_url %}js/lib/effects.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% media_url %}js/lib/dragdrop.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% media_url %}js/tracer.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="trace">
      {% for traced_obj in frame %}
      {% render_traced_object traced_obj %}
      {% endfor %}      
    </div>
  </body>
</html>