body {margin: 10px 50px;}

.method-call.depth-0 {display: none;}
.method-call.depth-0.test {display: block;}
.method-call.test {background: #e0e0e0; padding: 20px; border: solid 1px #ccc; margin-bottom: 50px;}
.method-call .method {color: #369; font-weight: bold; font-size: 14pt;}
.method-call {position: relative; margin: 10px 0 0;}
.method-call .frame {margin-left: 50px; border-left: dotted 1px #999;}
.method-call .key {color: #666; font-style: italic;}

.traced-error {background: red; color: white;}
.note {font-size: 10pt; color: #999;}

.object-container, .inner-container {position: relative;}
.object-container .handle {cursor: pointer;}
.object-container .handle .hash {font-size: 9pt; padding-left: 3px; color: #666;}
.object-container .handle.showing-details {background: #c96;}
.object-container .details, .tb {position: absolute; left: 0; top: 20px; width: 300px; border: solid 1px #999; background: #333; color: white; padding: 20px; z-index: 10; opacity: 0.9; overflow: auto;}
.object-container th {text-align: right; padding-right: 10px;}
.object-container th, .object-container td {padding-bottom: 10px;}
.close-button, .hash-title {position: absolute; top: -20px;}
.close-button {right: -20px; padding: 5px; border: solid 1px #999; background: #999; color: black; width: 20px; text-align: center; font-weight: bold; cursor: pointer;}
.hash-title {left: -20px;}

.tb {background: #036; width: 600px;}
.tb a {color: white; text-decoration: none; font-weight: bold;}
.tb li a {font-weight: normal; font-size: 9pt; font-family: monospace;}